<%- include('inc/_header'); %>
<div class="c-big-bg">
    <div class="c-big-bg__text">
        事業紹介
    </div>
    <img  class="c-big-bg__img" src="./../assets/img/business/big-bg.jpg">
</div>
<div class="p-businessbosai__header">
 <ul class="p-businessbosai__menu-item">
    <li><a href="#">防災・減災業務</a></li>
    <li><a href="#">ICT・BIM/CIM</a></li>
    <li><a href="#">測量・設計業務</a></li>
    <li><a href="#">調査業務</a></li>
 </ul>
</div>
