<%- include('inc/_header'); %>
<div class="c-big-bg">
    <div class="c-big-bg__text">
        事業紹介
    </div>
    <img  class="c-big-bg__img" src="./../assets/img/business/big-bg.jpg">
</div>
<div class="p-jigyouBusiness">
    <div class="p-jigyouBusiness__text">
        <img src="../assets/img/logo-mark.png" alt="" width="42">
        <h1>事業紹介</h1>
    </div>
    <div class="p-jigyouBusiness__content">
        熊本県はもちろん九州各県を中心に、地すべり、急傾斜、砂防などの土砂災害から地域住民の「命」、「財産」を守るという防災事業におい
        熊本県はもちろん九州各県を中心に、地すべり、急傾斜、砂防などの土砂災害から地域住民の「命」、「財産」を守るという防災事業におい
    </div>
</div>
<main class="p-jigyou ">
    <div class="block">
        <div class="origan-bg-color"></div>
        <div class="p-jigyou__text origan-bg-color">
            <div class="p-jigyou__title">
                <img src="../assets/img/tsunami.png" alt="">
                <h1>防災・減災業務</h1>
            </div>
            <div class="p-jigyou__content">
                異常気象に伴う豪雨や大規模地震等により発生した土砂災害に迅速な対応で取り組みます。地域住民の生命と財産を守る砂防の基本計画や設計に取り組みます。
                <div class="u-icon-next">
                    >
                </div>
            </div> 
        </div>
        <div class="p-jigyou__img">
            <img src="../assets/img/business/anh01.jpg" alt="">
        </div>
        <div class=""></div>
    </div>
    <div class="block">
        <div ></div>
        <div class="p-jigyou__img">
            <img src="../assets/img/business/anh02.jpg" alt="">
        </div>
        <div class="p-jigyou__text bluesky-bg-color">
            <div class="p-jigyou__title">
                <img src="../assets/img/drone.png" alt="">
                <h1>ICT・BIM/CIM</h1>
            </div>
            <div class="p-jigyou__content">
                国土交通省が進める建設生産システム全体の生産性向上を図り、魅力ある建設現場を目指す取り組み「i-Construction（アイ・コンストラクション）」や三次元モデルを中心に、関係者間で情報を共有するICT・BIM/CIMにも取り組んでいます
                <div class="u-icon-next">
                    >
                </div>
            </div> 
        </div>
        <div class="bluesky-bg-color"></div>
    </div>
    <div class="block">
        <div class="yellow-bg-color"></div>
        <div class="p-jigyou__text yellow-bg-color">
            <div class="p-jigyou__title">
                <img src="../assets/img/camera.png" alt="">
                <h1>測量・設計業務</h1>
            </div>
            <div class="p-jigyou__content">
                調査・設計に必要な正確な測量基礎資料作成に取り組みます。維持管理に必要な台帳およびGISの技術を提供します。また、橋梁の設計やのり面などの防災設計、災害等の復旧事業に関する設計を実施しています。
                <div class="u-icon-next">
                    >
                </div>
            </div> 
        </div>
        <div class="p-jigyou__img">
            <img src="../assets/img/business/anh03.jpg" alt="">
        </div>
        <div class=""></div>
    </div>
    <div class="block">
        <div ></div>
        <div class="p-jigyou__img">
            <img src="../assets/img/business/anh04.jpg" alt="">
        </div>
        <div class="p-jigyou__text green-bg-color">
            <div class="p-jigyou__title">
                <img src="../assets/img/drill.png" alt="">
                <h1>調査業務</h1>
            </div>
            <div class="p-jigyou__content">
                道路、橋梁、トンネル及び河川、砂防、海岸構造物等の設計に対してボーリング調査や原位置試験、土質試験、岩盤試験により地盤状況の正確な基礎情報を提供します。また、地すべりの地質状況の把握や移動変形調査、地下水調査等により解析を行い、最適な対策工設計を実施します。
                <div class="u-icon-next">
                    >
                </div>
            </div> 
        </div>
        <div class="green-bg-color"></div>
    </div>
</main>
<%- include('inc/_footer'); %>