	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="c-bg-left">
		</div>
		<div class="c-bg-right">
		</div>
		<div class="c-footer-left__text">
			<h1 class="c-big-text">Protect  </h1>
			<h1 class="c-big-text" style="margin-top: 5px;"><span class="c-medium-text">the</span> future</h1>
			<p>防災技術を駆使し、地域の未来を守る。</p> 
		</div>
		<div class="c-footer__main text-center">
			<div>
				<div class="">
					<img src="./../assets/img/logo-mark.png" alt=""> <span class="text-logo">IST</span>
				</div>
				<div class="u-info">
					<ul class="inline-text">
						<li>総合建設コンサルタント</li>
						<li>株式会社アイエステー（IST）</li>
					</ul>
					<span class="u-adress">〒860-0833　熊本市中央区平成3丁目16番13号</span> 
					<div class="u-phone">
						tel. <span class="u-fz-32">096-285-5177</span> 
					</div>
					<div class="u-fax">
						fax.096-285-5188
					</div>
					<div class="u-strest">
						<pre>交通アクセス <span class="click-next">＞</span>    プライバシーポリシー<span class="click-next">＞</span></pre>
					</div>
					<div class="u-copy-right">
						Copyright © IST CO., LTD. All Rights Reserved
					</div>
				</div>
			</div>
		</div>
		<div class="c-footer-right__text">
			<div class="c-back-to-top">
				<a href="#" onclick="backtotop()" class="c-back-to-top-animation">
					<div class="c-back-top-top__text">
						<i class="fas fa-angle-up"></i>
						TOP
					</div>
					<img src="../../assets/img/matricepro.png" alt="" width="192">
				</a>
			</div>
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>